[submodule "cookbooks"]
	path = cookbooks
	url = git@github.com:cheez0r/sl_cookbooks.git
[submodule "data_bags"]
	path = data_bags
	url = git@github.com:cheez0r/sl_data_bags.git
[submodule "nodes"]
	path = nodes
	url = git@github.com:cheez0r/sl_nodes.git
[submodule "roles"]
	path = roles
	url = git@github.com:cheez0r/sl_roles.git
