[submodule "data_bags"]
	path = data_bags
	url = https://github.com/cheez0r/sl_data_bags.git
[submodule "nodes"]
	path = nodes
	url = https://github.com/cheez0r/sl_nodes.git
[submodule "roles"]
	path = roles
	url = https://github.com/cheez0r/sl_roles.git
